In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
train.shape

(137, 43)

In [4]:
test.shape

(100000, 42)

In [5]:
train.columns

Index(['Id', 'Open Date', 'City', 'City Group', 'Type', 'P1', 'P2', 'P3', 'P4',
       'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
       'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25',
       'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35',
       'P36', 'P37', 'revenue'],
      dtype='object')

In [6]:
test.columns

Index(['Id', 'Open Date', 'City', 'City Group', 'Type', 'P1', 'P2', 'P3', 'P4',
       'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
       'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25',
       'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35',
       'P36', 'P37'],
      dtype='object')

In [7]:
train.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [8]:
test.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0

In [9]:
for i in train.columns:
    print(i , ':' , len(train[i].unique()))

Id : 137
Open Date : 134
City : 34
City Group : 2
Type : 3
P1 : 8
P2 : 8
P3 : 8
P4 : 6
P5 : 7
P6 : 8
P7 : 6
P8 : 8
P9 : 4
P10 : 4
P11 : 8
P12 : 7
P13 : 5
P14 : 10
P15 : 8
P16 : 9
P17 : 9
P18 : 7
P19 : 9
P20 : 9
P21 : 8
P22 : 5
P23 : 9
P24 : 9
P25 : 8
P26 : 10
P27 : 9
P28 : 9
P29 : 7
P30 : 9
P31 : 10
P32 : 10
P33 : 6
P34 : 8
P35 : 8
P36 : 8
P37 : 8
revenue : 137

In [10]:
test['Type'].unique()

array(['FC', 'IL', 'DT', 'MB'], dtype=object)

In [11]:
df=pd.concat([train,test],sort=False)

In [12]:
df.shape

(100137, 43)

In [13]:
DropColumn=['Open Date']
train.drop(columns=DropColumn,inplace=True)
test.drop(columns=DropColumn,inplace=True)

In [14]:
obj_col=(train.dtypes=='object')
obj_col_val=list(obj_col[obj_col].index)

In [15]:
obj_col_val

['City', 'City Group', 'Type']

In [16]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()

In [17]:
# Get list of categorical variables
s = (train.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['City', 'City Group', 'Type']

In [18]:
from sklearn.preprocessing import LabelEncoder

# Make copy to avoid changing original data 
label_X_train = train.copy()
label_X_test = test.copy()

# Apply label encoder to each column with categorical data
label_encoder = LabelEncoder()
for col in object_cols:
    label_encoder.fit(pd.concat([train[col], test[col]], axis=0, sort=False))
    label_X_train[col] = label_encoder.transform(train[col])
    label_X_test[col] = label_encoder.transform(test[col])

In [19]:
df_train = label_X_train
df_test = label_X_test

In [20]:
df_train.head()

,Id,City,City Group,Type,P1,P2,P3,P4,P5,P6,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,60,0,2,4,5.0,4.0,4.0,2,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,4,0,1,4,5.0,4.0,4.0,1,2,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,14,1,2,2,4.0,2.0,5.0,2,3,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,52,1,2,6,4.5,6.0,6.0,4,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,21,1,2,3,4.0,3.0,4.0,2,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [21]:
df_train.shape

(137, 42)

In [22]:
X=df_train.drop(columns=['revenue'])
y=df_train.revenue

In [23]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.8)

In [24]:
print(Xtrain.shape)
print(Xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(27, 41)
(110, 41)
(27,)
(110,)

In [25]:
from sklearn.linear_model import LinearRegression
LE=LinearRegression()
LE.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
yPred=LE.predict(Xtest)

In [39]:
yPred.shape

(110,)

In [41]:
preds = LE.predict(df_test)

In [43]:
preds.shape

(100000,)

In [44]:
test.shape

(100000, 41)

In [45]:
testData = pd.read_csv('test.csv')
submission = pd.DataFrame({
        "Id": testData["Id"],
        "Prediction": preds
    })

In [46]:
submission.to_csv('Restaurant-revenue-prediction_OUTPUT.csv',header=True, index=False)